<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-gold bg-gold fixed-top" id="mainNav">
	<!--<a><img src="http://13.125.147.26/images/sign_out.png" width="50" height="30"></a>-->
  	<a href="/home/index" class="text-center">
  	  <div class="navbar-brand" style="height: auto; top: 0.35rem;">　</div>
  	  <div class="navbar-brand text-center fixed-top" style="height: auto; top: 0.35rem; width:50%;"> <%= @title %> </div>
   </a>
	<button class="navbar-toggler navbar-toggler-right po" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="padding: 0;">
	  <img src="http://13.125.147.26/images/menu.png" width="50" height="30">
	  </img>
  </button>
	<% if session[:grade] == 1 || session[:grade] == 3 %>
  	<div class="collapse navbar-collapse" id="navbarResponsive">
  		<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
  			<li class="nav-item" data-toggle="tooltip" data-placement="left" title="Dashboard">
  				<a class="nav-link" href="/home/index">
  					<!--<i class="fa fa-fw fa-dashboard"></i>-->
  					<i class="fas fa-home"></i>
  					<span class="nav-link-text">HOME
  						<input type="radio" name="menus" class="form-control form-control-dark w-100" hidden="hidden"/>
  					</span>
  				</a>
  			</li>
  			<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
  				<a class="nav-link" href="/home/charts?name=삼성전자">
  					<!--<i class="fa fa-fw fa-area-chart"></i>-->
  					<i class="fas fa-chart-area"></i>
  					<span class="nav-link-text">일반차트
  						<input type="radio" name="menus" class="form-control form-control-dark w-100" hidden="hidden"/>
  					</span>
  				</a>
  			</li>
  			<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
  			  <% if session[:grade] == 3 %>
    				<a class="nav-link" href="/home/gold_daycharts?name=삼성전자">
    					<!--<i class="fa fa-fw fa-area-chart"></i>-->
    					<i class="fas fa-chart-line"></i>
    					<span class="nav-link-text">골드차트
    						<input type="radio" name="menus" class="form-control form-control-dark w-100" hidden="hidden"/>
    					</span>
    				</a>
  				<% elsif session[:grade] == 1 %>
    				<a class="nav-link" href="/home/payment">
    					<!--<i class="fa fa-fw fa-area-chart"></i>-->
    					<i class="fas fa-chart-line"></i>
    					<span class="nav-link-text">골드차트
    						<input type="radio" name="menus" class="form-control form-control-dark w-100" hidden="hidden"/>
    					</span>
    				</a>
  				<% end %>
  			</li>
  			<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
  				<a class="nav-link" href="/home/tables?goldS=80&goldE=100&power=11111&supply=11111&performance=11111&value=11111">
  					<i class="fa fa-fw fa-table"></i>
  					<span class="nav-link-text">종목분석
  						<input type="radio" name="menus" class="form-control form-control-dark w-100" hidden="hidden"/>
  					</span>
  				</a>
  			</li>
  			<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
  			  <% if session[:grade] == 3 %>
    				<a class="nav-link" href="/home/pro">
    					<i class="fab fa-android"></i>
    					<span class="nav-link-text">인공지능 종목포착
    						<input type="radio" name="menus" class="form-control form-control-dark w-100" hidden="hidden"/>
    					</span>
    				</a>
  				<% elsif session[:grade] == 1 %>
  				  <a class="nav-link" href="/home/payment">
    					<!--<i class="fa fa-fw fa-table"></i>-->
    					<i class="fab fa-android"></i>
    					<span class="nav-link-text">인공지능 종목포착
    						<input type="radio" name="menus" class="form-control form-control-dark w-100" hidden="hidden"/>
    					</span>
    				</a>
  				<% end %>
  			</li>
  			<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
  				<a class="nav-link" href="/home/foreignprice">
  					<i class="fas fa-list"></i>
  					<span class="nav-link-text">주요지수
  						<input type="radio" name="menus" class="form-control form-control-dark w-100" hidden="hidden"/>
  					</span>
  				</a>
  			</li>
  			<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
  				<a class="nav-link" href="/home/theme">
  					<!--<i class="fa fa-fw fa-table"></i>-->
  					<i class="far fa-lightbulb"></i>
  					<span class="nav-link-text">테마주
  						<input type="radio" name="menus" class="form-control form-control-dark w-100" hidden="hidden"/>
  					</span>
  				</a>
  			</li>
  			<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
  				<a class="nav-link" href="/home/payment">
  					<!--<i class="fa fa-fw fa-table"></i>-->
  					<i class="far fa-credit-card"></i>
  					<span class="nav-link-text">결제
  						<input type="radio" name="menus" class="form-control form-control-dark w-100" hidden="hidden"/>
  					</span>
  				</a>
  			</li>
  		</ul>
  		<ul class="navbar-nav sidenav-toggler">
  			<li class="nav-item">
  				<a class="nav-link text-center" id="sidenavToggler">
  					<i class="fa fa-fw fa-angle-left"></i>
  				</a>
  			</li>
  		</ul>
  	</div>
	<% else %>
  	<div class="collapse navbar-collapse" id="navbarResponsive">
  		<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
  			<li class="nav-item" data-toggle="tooltip" data-placement="left" title="Dashboard">
  				<a class="nav-link" href="/users/sign_in">
  					<!--<i class="fa fa-fw fa-dashboard"></i>-->
  					<i class="fas fa-home"></i>
  					<span class="nav-link-text">HOME
  						<input type="radio" name="menus" class="form-control form-control-dark w-100" hidden="hidden"/>
  					</span>
  				</a>
  			</li>
  			<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
  				<a class="nav-link" href="/users/sign_in">
  					<!--<i class="fa fa-fw fa-area-chart"></i>-->
  					<i class="fas fa-chart-area"></i>
  					<span class="nav-link-text">일반차트
  						<input type="radio" name="menus" class="form-control form-control-dark w-100" hidden="hidden"/>
  					</span>
  				</a>
  			</li>
  			<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
  				<a class="nav-link" href="/users/sign_in">
  					<!--<i class="fa fa-fw fa-area-chart"></i>-->
  					<i class="fas fa-chart-line"></i>
  					<span class="nav-link-text">골드차트
  						<input type="radio" name="menus" class="form-control form-control-dark w-100" hidden="hidden"/>
  					</span>
  				</a>
  			</li>
  			<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
  				<a class="nav-link" href="/users/sign_in">
  					<i class="fa fa-fw fa-table"></i>
  					<span class="nav-link-text">종목분석
  						<input type="radio" name="menus" class="form-control form-control-dark w-100" hidden="hidden"/>
  					</span>
  				</a>
  			</li>
  			<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
  				<a class="nav-link" href="/users/sign_in">
  					<i class="fab fa-android"></i>
  					<span class="nav-link-text">인공지능 종목포착
  						<input type="radio" name="menus" class="form-control form-control-dark w-100" hidden="hidden"/>
  					</span>
  				</a>
  			</li>
  			<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
  				<a class="nav-link" href="/users/sign_in">
  					<i class="fas fa-list"></i>
  					<span class="nav-link-text">주요지수
  						<input type="radio" name="menus" class="form-control form-control-dark w-100" hidden="hidden"/>
  					</span>
  				</a>
  			</li>
  			<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
  				<a class="nav-link" href="/users/sign_in">
  					<!--<i class="fa fa-fw fa-table"></i>-->
  					<i class="far fa-lightbulb"></i>
  					<span class="nav-link-text">테마주
  						<input type="radio" name="menus" class="form-control form-control-dark w-100" hidden="hidden"/>
  					</span>
  				</a>
  			</li>
  			<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
  				<a class="nav-link" href="/users/sign_in">
  					<!--<i class="fa fa-fw fa-table"></i>-->
  					<i class="far fa-credit-card"></i>
  					<span class="nav-link-text">결제
  						<input type="radio" name="menus" class="form-control form-control-dark w-100" hidden="hidden"/>
  					</span>
  				</a>
  			</li>
  		</ul>
  		<ul class="navbar-nav sidenav-toggler">
  			<li class="nav-item">
  				<a class="nav-link text-center" id="sidenavToggler">
  					<i class="fa fa-fw fa-angle-left"></i>
  				</a>
  			</li>
  		</ul>
  	</div>
	<% end %>
</nav>
<a class="scroll-to-top" onclick="goBack()" style="z-index:2; opacity:0.6;"><img src="http://13.125.147.26/images/back.png" width="40" height="40"></a>

<script>
function goBack() {
    window.history.go(-1);
}

</script>