<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="http://61.72.187.6/script/EasyAutocomplete/dist/easy-autocomplete.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="http://61.72.187.6/script/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/3.2.4/css/fixedColumns.dataTables.min.css">
<link rel="stylesheet" href="http://61.72.187.6/script/css/style.css">
<link rel="stylesheet" href="http://61.72.187.6/script/star-rating/progress.css">
<link rel="stylesheet" href="http://61.72.187.6/script/star-rating/star-style.css">

<script src="http://61.72.187.6/script/javascript/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="http://61.72.187.6/script/indicators/indicators.js"></script>
<script src="http://61.72.187.6/script/indicators/indicators10.js"></script>
<script src="http://61.72.187.6/script/indicators/indicators15.js"></script>
<script src="http://61.72.187.6/script/indicators/indicators30.js"></script>
<script src="http://61.72.187.6/script/indicators/indicators60.js"></script>
<script src="http://61.72.187.6/script/charts/daychart.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="http://61.72.187.6/script/table/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/3.2.4/js/dataTables.fixedColumns.min.js"></script>
<script src="http://61.72.187.6/script/table/newstable.js"></script>
<script src="http://61.72.187.6/script/table/companydata.js"></script>
<script src="http://61.72.187.6/script/star-rating/star-rating.js"></script>
<script src="http://61.72.187.6/script/EasyAutocomplete/lib/jquery-1.11.2.min.js"></script>
<script src="http://61.72.187.6/script/EasyAutocomplete/dist/jquery.easy-autocomplete.min.js" type="text/javascript" ></script>


<style>
  .stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  }

  .stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
  }

  .stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  }

  .stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
  }

  .attribution {
  font-size: 12px;
  color: #444;
  text-decoration: none;
  text-align: center;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: -1;
  }
  .attribution:hover {
  color: #1fa67a;
  }  
</style>

<div class="content-wrapper">
  <div class="container-fluid">
    <form class="form-inline my-2 my-lg-0 mr-lg-2" action="/home/charts" method="get" style="float: right;">
      <div class="input-group" >
        <input class="form-control" type="text" name="name" placeholder="종목을 검색해주세요" style="float: right"/>
        <span class="input-group-append">
          <button class="btn btn-primary" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
    <div class="btn-group" role="group" style="width:100%; margin: 0;">
      <div class="btn-group btn-group-toggle" data-toggle="radio" style="width:100%;">
        <label class="btn btn-secondary" style="width:100%;" onclick="window.location='/home/charts?name=<%=@urlparam%>';">
          <input type="radio" name="buttons" style="pointer-events:none"/> 일
        </label>
        <label class="btn btn-secondary" style="width:100%;" onclick="window.location='/home/weekcharts?name=<%=@urlparam%>';">
          <input type="radio" name="buttons" style="pointer-events:none"/> 주
        </label>
        <label class="btn btn-secondary" style="width:100%;" onclick="window.location='/home/monthcharts?name=<%=@urlparam%>';">
          <input type="radio" name="buttons" style="pointer-events:none"/> 월
        </label>
      </div>
    </div>
    <!-- Area Chart Example-->
    <div class="card mb-10">
      <div class="card-header" id="charts">
        <i class="fa fa-area-chart"></i>
      </div>
      <div class="card-body">
        <div id="container" style="width:100%; height: 100%; min-width: 100%; margin:0;"></div>
      </div>
    </div>
    <div class="card mb-3" >
      <div class="card-header" id="company_score">
        <label class="hotel_a">황금알점수&nbsp&nbsp&nbsp
          <div class="stars-outer">
            <div class="stars-inner">
            </div>
          </div>  
        </label>
      </div>
      <div class="card-body" id="power_score">
        <div class="ratingbar">
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-header">
        <label>기업정보</label>
      </div>
      <div class="card-body" style="height:15rem; overflow:hidden; overflow-y:scroll;">
        <table class="table" id=company_data>
        </table>        
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-header">
        <label>뉴스/공시</label>
      </div>
      <div class="card-body table-responsive" style="height:15rem; overflow:hidden; overflow-y:scroll; overflow-x:scroll; padding:0;">
        <table class="table" id="news_table" width="100%; margin:0;">
          <thead>
            <tr>
              <th scope="col">제목</th>
              <th scope="col">정보제공</th>
              <th scope="col">날짜</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
    <div class="card mb-3">
      <iframe class="newsIframe" name="test" width="100%" height="350" style="display:none;"></iframe>
    </div>
  </div>
</div>

<script>
  var getParam = function(key){
      var _parammap = {};
      document.location.search.replace(/\??(?:([^=]+)=([^&]*)&?)/g, function () {
          function decode(s) {
              return decodeURIComponent(s.split("+").join(" "));
          }
          _parammap[decode(arguments[1])] = decode(arguments[2]);
      });
  
      return _parammap[key];
  };
  
  var companycode = getParam("name");
  var ajaxdata;
  
  $(document).ready(function(){
    ajaxdata = setInterval(autodata, 1000);
  });
  
  function autodata(){
    $.ajax({
      url: "http://61.72.187.6/phps/now?name=" + companycode,
      type: "GET",
      dataType: "json",
      async: false,
      success: function(data){
        var json_data = '';
        $.each(data, function(key, value){
          if(value.semo == "▲"){
            json_data += '<label style="color:red">'+value.name+'('+value.code+')'+'&nbsp&nbsp&nbsp'+value.now+'원&nbsp&nbsp&nbsp'+value.semo+'&nbsp'+value.pok+'&nbsp&nbsp'+value.per+'%</label>';
          }
          else {
            json_data += '<label style="color:blue">'+value.name+'('+value.code+')'+'&nbsp&nbsp&nbsp'+value.now+'원&nbsp&nbsp&nbsp'+value.semo+'&nbsp'+value.pok+'&nbsp&nbsp'+value.per+'%</label>';
          }
        });
        $('#charts').html(json_data);
      }
    });
  }
  $(document).ready(function(){
    $('input[name=buttons]').change(function() {
      clearInterval(ajaxdata);
    });
  });
</script>
