<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="http://61.72.187.6/script/table/foreignprice.js"></script>
<script src="http://61.72.187.6/script/table/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/3.2.4/js/dataTables.fixedColumns.min.js"></script>
<!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"> -->
<link rel="stylesheet" href="http://61.72.187.6/script/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/3.2.4/css/fixedColumns.dataTables.min.css">
<link rel="stylesheet" href="http://61.72.187.6/script/css/style.css">

<style>
  table {
    table-layout: fixed;
    word-wrap: break-word;
  }
  .table tr {
    background-color:#F0F0F0;
    padding:10px 18px;
  }
  .table th, .table td {
    white-space: nowrap;
  }
  .table th {
    background-color:#F0F0F0;
    width: 20%;
  }
  .table td {
    padding:8px 10px;
  }
  .first-column {
    width: 20%;
  }

  #supply_table_wrapper > div > div.DTFC_LeftWrapper > div.DTFC_LeftBodyWrapper > div > table > thead > tr {
    height: 0!important;
  }
  #supply_table > thead > tr {
    height: 0!important;
  }
      
  #korea_table_wrapper > div > div.DTFC_LeftWrapper > div.DTFC_LeftBodyWrapper > div > table > thead > tr {
    height: 0!important;
  }
  #korea_table > thead > tr {
    height: 0!important;
  }
  
  #korea_table_wrapper > div > div.dataTables_scroll > div.dataTables_scrollHead > div {
    width: 100%;
  }

  #us_table_wrapper > div > div.DTFC_LeftWrapper > div.DTFC_LeftBodyWrapper > div > table > thead > tr {
    height: 0!important;
  }
  #us_table > thead > tr {
    height: 0!important;
  }

  #asia_table_wrapper > div > div.DTFC_LeftWrapper > div.DTFC_LeftBodyWrapper > div > table > thead > tr {
    height: 0!important;
  }
  #asia_table > thead > tr {
    height: 0!important;
  }
  
  #product_table_wrapper > div > div.DTFC_LeftWrapper > div.DTFC_LeftBodyWrapper > div > table > thead > tr {
    height: 0!important;
  }
  #product_table > thead > tr {
    height: 0!important;
  }

  #dollar_table_wrapper > div > div.DTFC_LeftWrapper > div.DTFC_LeftBodyWrapper > div > table > thead > tr {
    height: 0!important;
  }
  #dollar_table > thead > tr {
    height: 0!important;
  }
</style>

<div class="content-wrapper">
  <div class="container">
    <div class="table-responsive">
      <table class="table" id="supply_table" width="100%; margin:0;">
        <thead>
          <tr>
            <th>투자매매동향</th>
            <th>개인</th>
            <th>외국인</th>
            <th>기관계</th>
            <th>금융투자</th>
            <th>투신</th>
            <th>연기금등</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>거래소</td>
            <td id="exchange-personal">-</td>
            <td id="exchange-foreigner">-</td>
            <td id="exchange-agency">-</td>
            <td id="exchange-financial">-</td>
            <td id="exchange-trust">-</td>
            <td id="exchange-pensionfunds">-</td>
          </tr>
          <tr>
            <td>코스닥</td>
            <td id="kosdaq-personal">-</td>
            <td id="kosdaq-foreigner">-</td>
            <td id="kosdaq-agency">-</td>
            <td id="kosdaq-financial">-</td>
            <td id="kosdaq-trust">-</td>
            <td id="kosdaq-pensionfunds">-</td>
          </tr>
        </tbody>
      </table>
      <table class="table" id="korea_table" width="100%; margin:0;">
          <thead>
            <tr>
              <th>종목</th>
              <th>현재가</th>
              <th>변동</th>
              <th>변동 %</th>
              <th>고가</th>
              <th>저가</th>
              <th>시간</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>코스피</td>
              <td id="kospi-current">-</td>
              <td id="kospi-variance">-</td>
              <td id="kospi-variance_per">-</td>
              <td id="kospi-high">-</td>
              <td id="kospi-low">-</td>
              <td id="kospi-hours">-</td>
            </tr>
            <tr>
              <td>코스닥</td>
              <td id="kosdaq-current">-</td>
              <td id="kosdaq-variance">-</td>
              <td id="kosdaq-variance_per">-</td>
              <td id="kosdaq-high">-</td>
              <td id="kosdaq-low">-</td>
              <td id="kosdaq-hours">-</td>
            </tr>
          </tbody>
        </table>
        <table class="table" id="us_table" width="100%; margin:0;">
          <thead>
            <tr>
              <th>종목</th>
              <th>현재가</th>
              <th>변동</th>
              <th>변동 %</th>
              <th>고가</th>
              <th>저가</th>
              <th>시간</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>다우존스</td>
              <td id="dji-current">-</td>
              <td id="dji-variance">-</td>
              <td id="dji-variance_per">-</td>
              <td id="dji-high">-</td>
              <td id="dji-low">-</td>
              <td id="dji-hours">-</td>
            </tr>
            <tr>
              <td>S%P 500</td>
              <td id="sp500-current">-</td>
              <td id="sp500-variance">-</td>
              <td id="sp500-variance_per">-</td>
              <td id="sp500-high">-</td>
              <td id="sp500-low">-</td>
              <td id="sp500-hours">-</td>
            </tr>
            <tr>
              <td>나스닥 100</td>
              <td id="nasdaq-current">-</td>
              <td id="nasdaq-variance">-</td>
              <td id="nasdaq-variance_per">-</td>
              <td id="nasdaq-high">-</td>
              <td id="nasdaq-low">-</td>
              <td id="nasdaq-hours">-</td>
            </tr>
          </tbody>
        </table>
        <table class="table" id="asia_table" width="100%; margin:0;">
          <thead>
            <tr>
              <th>지수</th>
              <th>현재가</th>
              <th>변동</th>
              <th>변동 %</th>
              <th>고가</th>
              <th>저가</th>
              <th>시간</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>닛케이</td>
              <td id="nikkei-current">-</td>
              <td id="nikkei-variance">-</td>
              <td id="nikkei-variance_per">-</td>
              <td id="nikkei-high">-</td>
              <td id="nikkei-low">-</td>
              <td id="nikkei-hours">-</td>
            </tr>
            <tr>
              <td>상하이종합</td>
              <td id="ssec-current">-</td>
              <td id="ssec-variance">-</td>
              <td id="ssec-variance_per">-</td>
              <td id="ssec-high">-</td>
              <td id="ssec-low">-</td>
              <td id="ssec-hours">-</td>
            </tr>
          </tbody>
        </table>
        <table class="table" id="product_table">
          <thead>
            <tr>
              <th>상품</th>
              <th style="width:10%">종가</th>
              <th style="width:10%">변동</th>
              <th style="width:10%">변동 %</th>
              <th style="width:10%">고가</th>
              <th style="width:10%">저가</th>
              <th style="width:10%">시간</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>금</td>
              <td id="gold-current">-</td>
              <td id="gold-high">-</td>
              <td id="gold-low">-</td>
              <td id="gold-variance">-</td>
              <td id="gold-variance_per">-</td>
              <td id="gold-hours">-</td>
            </tr>
            <tr>
              <td>WTI유</td>
              <td id="wti-current">-</td>
              <td id="wti-variance">-</td>
              <td id="wti-variance_per">-</td>
              <td id="wti-high">-</td>
              <td id="wti-low">-</td>
              <td id="wti-hours">-</td>
            </tr>
          </tbody>
        </table>
        <table class="table" id="dollar_table" width="100%; margin:0;">
          <thead>
            <tr>
              <th>종목</th>
              <th>종가</th>
              <th>변동</th>
              <th>변동 %</th>
              <th>고가</th>
              <th>저가</th>
              <th>시간</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>달러/원</td>
              <td id="usdkrw-current">-</td>
              <td id="usdkrw-variance">-</td>
              <td id="usdkrw-variance_per">-</td>
              <td id="usdkrw-high">-</td>
              <td id="usdkrw-low">-</td>
              <td id="usdkrw-hours">-</td>
            </tr>
        </tbody>
      </table>
      <image src="http://61.72.187.6/images/webApp/20180319_110746.png"/>
    </div>
  </div>
</div>