<script src="http://61.72.187.6/script/index/koreastock.js"></script>
<script src="http://61.72.187.6/script/index/allnews.js"></script>
<script src="http://61.72.187.6/script/index/indexTheme.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="http://61.72.187.6/script/table/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/3.2.4/js/dataTables.fixedColumns.min.js"></script>
<link rel="stylesheet" href="http://61.72.187.6/script/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/3.2.4/css/fixedColumns.dataTables.min.css">
<link rel="stylesheet" href="http://61.72.187.6/script/css/style.css">
    
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-light o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <!--<i class="fa fa-fw fa-comments"></i>-->
              <img src="https://kendsnyder.com/wp-content/uploads/2016/08/post-44892276.png" height="50" width="50"> 
            </div>
            <div class="mr-5" id=korea_data> 
              <span style="font-size:1.0em; color:black;">코스피</span> <span style="font-size:1.3em; color:black;">&nbsp&nbsp-&nbsp&nbsp</span><span style="font-size:1.0em; color:black;">( - )</span></br>
              <span style="font-size:1.0em; color:black;">코스닥</span> <span style="font-size:1.3em; color:black;">&nbsp&nbsp-&nbsp&nbsp</span><span style="font-size:1.0em; color:black;">( - )</span>
            </div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="/home/foreignprice">
            <span class="float-left" style="color:black;">더보기</span>
            <span class="float-right" style="color:black;">
              <i class="fa fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card border-danger text-danger bg-light o-hidden h-100">
					<div class="card-header ">오늘의 <span style="font-weight: bold;">HOT</span> 테마</div>
					<div id="index-theme-list" class="border-danger text-dark" style="height:9rem; overflow:hidden; overflow-y:scroll;">
						<a class="list-group-item list-group-item-action" href="/home/theme">-</a>
						<a class="list-group-item list-group-item-action" href="/home/theme">-</a>
						<a class="list-group-item list-group-item-action" href="/home/theme">-</a>
						<a class="list-group-item list-group-item-action" href="/home/theme">-</a>
						<a class="list-group-item list-group-item-action" href="/home/theme">-</a>
					</div>
					<a class="card-footer text-danger clearfix small z-1" href="/home/theme">
						<span class="float-left">더보기</span>
						<span class="float-right">
							<i class="fa fa-angle-right"></i>
						</span>
					</a>
				</div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-warning o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fa fa-fw fa-shopping-cart"></i>
            </div>
            <div class="mr-5">종목진단</div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="/home/tables">
            <span class="float-left">더보기</span>
            <span class="float-right">
              <i class="fa fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-primary o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fa fa-fw fa-support"></i>
            </div>
            <div class="mr-5">광고 배너</div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="/home/charts">
            <span class="float-left">View Details</span>
            <span class="float-right">
              <i class="fa fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-header">
        <label>뉴스/공시</label>
      </div>
      <div class="card-body table-responsive">
        <table class="table" id="allnews" width="100%; margin:0;">
          <thead>
            <tr>
              <th scope="col">제목</th>
              <th scope="col">정보제공</th>
              <th scope="col">날짜</th>
            </tr>
          </thead>
        </table>
        <iframe class="newsIframe" name="test" width="100%" height="350" style="display:none;"></iframe>
      </div>
    </div>
  </div>
</div>

