<div class="content-wrapper" style="background-color: #eeeeee;">
  <div class="container-fluid">
    <div class="card mb-3" >
      <div class="card-body">
        <img src="http://13.124.230.32/images/paymenting.png" width="100%"/>
      </div>
    </div>
    <div class="card mb-3" >
      <img src="http://13.124.230.32/images/banner02.png" width="100%"/>
    </div>
    <div class="card mb-3" >
      <img src="http://13.124.230.32/images/banner03.png" width="100%"/>
    </div>
  </div>
</div>