<div class="content-wrapper">
	<div class="card">
		<div class="card-header">인공지능</div>
		<div class="list-group">
			<a href="./pro.html">
				<div class="list-group-item">
					<img src="./image/bot-re.png" />
					<div style="display: inline-block">
						<div>R-e</div>
						<div>설명</div>
					</div>
				</div>
			</a>
			<a href="./pro.html">
				<div class="list-group-item">
					<img src="./image/bot-redshot.png" />
					<div style="display: inline-block">
						<div>레드샷</div>
						<div>설명</div>
					</div>
				</div>
			</a>
			<a href="./pro.html">
				<div class="list-group-item">
					<img src="./image/bot-redsun.png" />
					<div style="display: inline-block">
						<div>레드썬</div>
						<div>설명</div>
					</div>
				</div>
			</a>
	</div>
</div>