<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
crossorigin="anonymous"></script>
<script src="http://13.124.230.32/script/pro/pro.js"></script>

<style>
	/* unvisited link */
	.a-to-proStock:link {
		color: #FFFFFF;
		text-decoration: none;
	}

	/* visited link */

	.a-to-proStock:visited {
		color: #FFFFFF;
		text-decoration: none;
	}

	/* mouse over link */

	.a-to-proStock:hover {
		color: #FFFFFF;
		text-decoration: none;
	}

	/* selected link */

	.a-to-proStock:active {
		color: #FFFFFF;
		text-decoration: none;
	}
</style>

<div class="content-wrapper">
	<div class="card">
		<div class="card-header">인공지능 포착종목</div>
		<div id="bot-list" class="list-group">
		</div>
	</div>
</div>