<style>
	/* unvisited link */
	a:link {
		color: #FFFFFF;
		text-decoration: none;
	}

	/* visited link */

	a:visited {
		color: #FFFFFF;
		text-decoration: none;
	}

	/* mouse over link */

	a:hover {
		color: #FFFFFF;
		text-decoration: none;
	}

	/* selected link */

	a:active {
		color: #FFFFFF;
		text-decoration: none;
	}
</style>

<div class="content-wrapper">
	<div class="card">
		<div class="card-header">인공지능</div>
		<div class="list-group">
			<a href="/home/proStock?bot=re" style="color: black;">
				<div class="list-group-item">
					<img src="http://61.72.187.6/images/Re.png" />
					<div style="display: inline-block">
						<div>R-e</div>
						<div>설명</div>
					</div>
				</div>
			</a>
			<a href="/home/proStock?bot=redShot" style="color: black;">
				<div class="list-group-item">
					<img src="http://61.72.187.6/images/redShot.png" />
					<div style="display: inline-block">
						<div>레드샷</div>
						<div>설명</div>
					</div>
				</div>
			</a>
			<a href="/home/proStock?bot=redSun" style="color: black;">
				<div class="list-group-item">
					<img src="http://61.72.187.6/images/redSun.png" />
					<div style="display: inline-block">
						<div>레드썬</div>
						<div>설명</div>
					</div>
				</div>
			</a>
	</div>
</div>