<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
 crossorigin="anonymous"></script>
<script src="./pro/proStock.js"></script>

<div class="content-wrapper">
	<div class="card">
		<div class="card-body">
			<div class="row px-2">
				<img id="img-bot" class="position-relative" src="" width="70" height="70" style="max-width: 70; max-height: 70" />
				<div class="px-2 mx-2" style="display: inline-block">
					<div>모델</div>
					<div>승률</div>
					<div>수익률</div>
					<div>투자성향</div>
				</div>
				<div class="col-5 px-0">
					<div id="model">아리</div>
					<div id="winning-rate">00%</div>
					<div id="price-earnings-ratio">00%</div>
					<div id="propensity">...</div>
				</div>
			</div>
			<div class="card mt-2">
				<div class="d-inline-block">
					<table class="table mb-0">
						<tbody>
							<tr style="border-top: 0px solid #dee2e6">
								<td style="width:30%">매수가</td>
								<td id="buyingPrice">-</td>
							</tr>
							<tr>
								<td style="width:30%">목표가</td>
								<td id="targetPrice">-</td>
							</tr>
							<tr>
								<td style="width:30%">손절가</td>
								<td id="paidOffPrice">-</td>
							</tr>
							<tr>
								<td style="width:30%">포착시간</td>
								<td id="captureTime">-</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="my-3">
				<a class="float-left d-inline text-center" onclick="proStockGetJson();" style="width: 50%;">
					<img src="http://61.72.187.6/images/reload" alt="새로고침" class="mx-auto" width="80%" />
				</a>
				<a id="charts-button" class="float-right d-inline text-center" href="#" style="width: 50%;">
					<img src="http://61.72.187.6/images/gochart" alt="차트보기" class="text-center mx-auto" width="80%" />
				</a>
			</div>
		</div>
		<div class="card-body">
			<div id="capture-stock" class="card" style="height:15rem; overflow:hidden; overflow-y:scroll;">
				<a><div class="list-group-item">-</div></a>
				<a><div class="list-group-item">-</div></a>
				<a><div class="list-group-item">-</div></a>
				<a><div class="list-group-item">-</div></a>
				<a><div class="list-group-item">-</div></a>
			</div>
		</div>
	</div>
</div>