<script src="http://61.72.187.6/script/pro/proStock.js"></script>
<link rel="stylesheet" href="http://61.72.187.6/script/css/style.css">

<div class="content-wrapper">
	<div class="card">
		<div class="card-body">
			<div class="row px-2">
				<img id="img-bot" class="position-relative" src="" width="70" height="70" style="max-width: 70; max-height: 70" />
				<div class="px-2 mx-2" style="display: inline-block">
					<div>모델</div>
					<div>승률</div>
					<div>수익률</div>
					<div>투자성향</div>
				</div>
				<div class="col-5 px-0">
					<div id="model">아리</div>
					<div id="winning-rate">00%</div>
					<div id="price-earnings-ratio">00%</div>
					<div id="propensity">...</div>
				</div>
			</div>
			<a type="button" class="btn btn-primary btn-sm float-right d-block" onclick="proStockGetJson();">새로고침</a>
		</div>
		<div id="capture-stock" class="card-body">
		</div>
	</div>
</div>