
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="http://61.72.187.6/script/table/jsonTable.js"></script>
<script src="http://61.72.187.6/script/table/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/3.2.4/js/dataTables.fixedColumns.min.js"></script>
<!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"> -->
<link rel="stylesheet" href="http://61.72.187.6/script/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/3.2.4/css/fixedColumns.dataTables.min.css">
<link rel="stylesheet" href="http://61.72.187.6/script/css/style.css">

<div class="content-wrapper">
<!-- Example DataTables Card-->
  <div clase="serch-conditions">
    <form action="/home/tables" method="get" style="margin: 10px;">
      
      <label style="margin: 10px;">황금알점수
        <select name="gold" class="btn btn-secondary btn-sm dropdown-toggle">
          <option value="10000">1등급</option>
          <option value="01000">2등급</option>
          <option value="00100">3등급</option>
          <option value="00010">4등급</option>
          <option value="00001">5등급</option>
        </select>
        </ul>
      </label>
      <label style="margin: 10px;">파워등급
        <select name="power" class="btn btn-secondary btn-sm dropdown-toggle">
          <option value="10000">1등급</option>
          <option value="01000">2등급</option>
          <option value="00100">3등급</option>
          <option value="00010">4등급</option>
          <option value="00001">5등급</option>
        </select>
      </label>
      <label style="margin: 10px;">수급등급
        <select name="supply" class="btn btn-secondary btn-sm dropdown-toggle">
          <option value="10000">1등급</option>
          <option value="01000">2등급</option>
          <option value="00100">3등급</option>
          <option value="00010">4등급</option>
          <option value="00001">5등급</option>
        </select>
      </label>
      <label style="margin: 10px;">실적등급
        <select name="performance" class="btn btn-secondary btn-sm dropdown-toggle">
          <option value="10000">1등급</option>
          <option value="01000">2등급</option>
          <option value="00100">3등급</option>
          <option value="00010">4등급</option>
          <option value="00001">5등급</option>
        </select>
      </label>
      <label style="margin: 10px;">현재가치
        <select name="value" class="btn btn-secondary btn-sm dropdown-toggle">
          <option value="10000">1등급</option>
          <option value="01000">2등급</option>
          <option value="00100">3등급</option>
          <option value="00010">4등급</option>
          <option value="00001">5등급</option>
        </select>
      </label>
      <input type="submit" value="검색" class="btn btn-primary" style="margin: 10px;"></type>
    </form>
  </div>
  <div class="table-responsive">
    <table class="table" id="stock_table" width="100%; margin:0;">
      <thead>
        <tr>
          <th scope="col">&nbsp&nbsp종목명</th>
          <th scope="col">&nbsp&nbsp황금알점수</th>
          <th scope="col">&nbsp&nbsp파워등급</th>
          <th scope="col">&nbsp&nbsp수급등급</th>
          <th scope="col">&nbsp&nbsp실적등급</th>
          <th scope="col">&nbsp&nbsp현재가치</th>
        </tr>
      </thead>
    </table>
  </div>
</div>