<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="http://61.72.187.6/script/table/jsonTable.js"></script>
<script src="http://61.72.187.6/script/table/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/3.2.4/js/dataTables.fixedColumns.min.js"></script>
<!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"> -->
<link rel="stylesheet" href="http://61.72.187.6/script/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/3.2.4/css/fixedColumns.dataTables.min.css">
<link rel="stylesheet" href="http://61.72.187.6/script/css/style.css">

<div class="content-wrapper">
<!-- Example DataTables Card-->
  <div clase="serch-conditions">
    <form action="/home/tables" method="get" style="margin: 10px;">
      <input type="submit" value="검색" class="btn btn-primary" style="float: right; margin: 10px;">
      <div class="table-responsive">
        <table class="table" id="stock_table" width="100%; margin:0;">
          <thead>
            <tr>
              <th scope="col">
                <label style="margin: 0rem 1rem">종목명</label>
              </th>
              <th scope="col">
                <label for="gold" style="margin: 0rem 1rem">황금알점수</label>
                <select id="gold" name="gold" class="form-control" style="display: block; margin: 0rem 1rem">
                  <option value="1">아주높음</option>
                  <option value="2">높음</option>
                  <option value="3">보통</option>
                  <option value="4">낮음</option>
                  <option value="5">아주낮음</option>
                </select>
              </th>
              <th scope="col">
                <label for="power" style="margin: 0rem 1rem">파워등급</label>
                <select id="power" name="power" class="form-control" style="display: block; margin: 0rem 1rem">
                  <option value="10000">1등급</option>
                  <option value="11000">2등급</option>
                  <option value="11100">3등급</option>
                  <option value="11110">4등급</option>
                  <option value="11111">5등급</option>
                </select>
              </th>
              <th scope="col">
                <label for="supply" style="margin: 0rem 1rem">수급등급</label>
                <select id="supply" name="supply" class="form-control" style="display: block; margin: 0rem 1rem">
                  <option value="10000">1등급</option>
                  <option value="11000">2등급</option>
                  <option value="11100">3등급</option>
                  <option value="11110">4등급</option>
                  <option value="11111">5등급</option>
                </select>
              </th>
              <th scope="col">
                <label for="performance" style="margin: 0rem 1rem">실적등급</label>
                <select id="performance" name="performance" class="form-control" style="display: block; margin: 0rem 1rem">
                  <option value="10000">1등급</option>
                  <option value="11000">2등급</option>
                  <option value="11100">3등급</option>
                  <option value="11110">4등급</option>
                  <option value="11111">5등급</option>
                </select>
              </th>
              <th scope="col">
                <label for="value" style="margin: 0rem 1rem">현재가치</label>
                <select id="value" name="value" class="form-control" style="display: block; margin: 0rem 1rem">
                  <option value="1">저평가</option>
                  <option value="2">보통이하</option>
                  <option value="3">보통이상</option>
                  <option value="4">고평가</option>
                </select>
              </th>
            </tr>
          </thead>
        </table>
      </div>
    </form>
  </div>
</div>