<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="http://13.124.230.32/script/table/jsonTable.js"></script>
<script src="http://13.124.230.32/script/table/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/3.2.4/js/dataTables.fixedColumns.min.js"></script>
<!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"> -->
<link rel="stylesheet" href="http://13.124.230.32/script/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/3.2.4/css/fixedColumns.dataTables.min.css">
<link rel="stylesheet" href="http://13.124.230.32/script/css/style.css">

<div class="content-wrapper">
  <div clase="serch-conditions">
    <form action="/home/tables" method="get" style="margin: 10px;">
      <div style="display: block; float: right;">
        <label style="float: left; margin-right: 1em">황금알점수</label>
          <div style="float: left">
            <input class="form-control" id="goldS" type="number" name="goldS" style="display:inline; width:35%" placeholder="이상"></input> 
            <span style="text-align:center; display:table; margin-left:auto; margin-right:auto; display:inline;"> ~ </span>
            <input class="form-control" id="goldE" type="number" name="goldE" style="display:inline; width:35%" placeholder="이하"></input>
            <div style="position: absolute; visibility: collapse;">
              <input id="power" name="power" class="form-control" value="11111" style="margin: 0rem 1rem; visibility: collapse;">
                  <!-- <option value="10000">1등급</option>
                  <option value="01000">2등급</option>
                  <option value="00100">3등급</option>
                  <option value="00010">4등급</option>
                  <option value="00001">5등급</option> -->
              </input>
              <input id="supply" name="supply" class="form-control" value="11111" style="margin: 0rem 1rem; visibility: collapse;">
                <!-- <option value="10000">1등급</option>
                <option value="01000">2등급</option>
                <option value="00100">3등급</option>
                <option value="00010">4등급</option>
                <option value="00001">5등급</option> -->
              </input>
              <input id="performance" name="performance" value="11111" class="form-control" style="margin: 0rem 1rem; visibility: collapse;">
                <!-- <option value="10000">1등급</option>
                <option value="01000">2등급</option>
                <option value="00100">3등급</option>
                <option value="00010">4등급</option>
                <option value="00001">5등급</option> -->
              </input>
              <input id="value" name="value" class="form-control" value="11111" style="margin: 0rem 1rem; visibility: collapse;">
                <!-- <option value="10000">1등급</option>
                <option value="01000">2등급</option>
                <option value="00100">3등급</option>
                <option value="00010">4등급</option>
                <option value="00001">5등급</option> -->
              </input>
            </div>
            <input type="submit" value="검색" class="btn btn-primary" style="float: right; margin: auto; display:inline;">
          </div>
      </div>
      <div class="table-responsive">
        <table class="table" id="stock_table" width="100%; margin:0;">
          <thead>
            <tr>
              <th scope="col">
                <label style="margin: 0rem 1rem">종목명</label>
              </th>
              <th scope="col">
                <label for="gold" style="margin: 0rem 1rem">황금알점수</label>
              </th>
              <th scope="col">
                <label for="power" style="margin: 0rem 1rem">파워등급</label>
              </th>
              <th scope="col">
                <label for="supply" style="margin: 0rem 1rem">수급등급</label>
              </th>
              <th scope="col">
                <label for="performance" style="margin: 0rem 1rem">실적등급</label>
              </th>
              <th scope="col">
                <label for="value" style="margin: 0rem 1rem">현재가치</label>
              </th>
            </tr>
          </thead>
        </table>
      </div>
    </form>
  </div>
</div>