
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="http://61.72.187.6/script/table/jsonTable.js"></script>
<script src="http://61.72.187.6/script/table/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/3.2.4/js/dataTables.fixedColumns.min.js"></script>
<!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"> -->
<link rel="stylesheet" href="http://61.72.187.6/script/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/3.2.4/css/fixedColumns.dataTables.min.css">
<link rel="stylesheet" href="http://61.72.187.6/script/css/style.css">

<div class="content-wrapper">
<!-- Example DataTables Card-->
  <div clase="serch-conditions">
    <form action="/home/tables" method="get" style="margin: 10px;">
      <input type="submit" value="검색" class="btn btn-primary" style="float: right; margin: 10px;">
      <div class="table-responsive">
        <table class="table" id="stock_table" width="100%; margin:0;">
          <thead>
            <tr>
              <th scope="col" style="padding: .75rem 1.2rem;">종목명</th>
              <th scope="col" style="padding: .75rem 1.2rem;">
                <label for="gold">황금알점수</label>
                <select id="gold" name="gold" class="form-control" style="display: block; width: 35%">
                  <option value="10000">1등급</option>
                  <option value="01000">2등급</option>
                  <option value="00100">3등급</option>
                  <option value="00010">4등급</option>
                  <option value="00001">5등급</option>
                </select>
              </th>
              <th scope="col" style="padding: .75rem 1.2rem;">
                <label for="power">파워등급</label>
                <select id="power" name="power" class="form-control" style="display: block; width: 35%;">
                  <option value="10000">1등급</option>
                  <option value="01000">2등급</option>
                  <option value="00100">3등급</option>
                  <option value="00010">4등급</option>
                  <option value="00001">5등급</option>
                </select>
              </th>
              <th scope="col" style="padding: .75rem 1.2rem;">
                <label for="supply">수급등급</label>
                <select id="supply" name="supply" class="form-control" style="display: block; width: 35%;">
                  <option value="10000">1등급</option>
                  <option value="01000">2등급</option>
                  <option value="00100">3등급</option>
                  <option value="00010">4등급</option>
                  <option value="00001">5등급</option>
                </select>
              </th>
              <th scope="col" style="padding: .75rem 1.2rem;">
                <label for="performance">실적등급</label>
                <select id="performance" name="performance" class="form-control" style="display: block; width: 35%;">
                  <option value="10000">1등급</option>
                  <option value="01000">2등급</option>
                  <option value="00100">3등급</option>
                  <option value="00010">4등급</option>
                  <option value="00001">5등급</option>
                </select>
              </th>
              <th scope="col" style="padding: .75rem 1.2rem;">
                <label for="value">현재가치</label>
                <select id="value" name="value" class="form-control" style="display: block; width: 35%;">
                  <option value="10000">1등급</option>
                  <option value="01000">2등급</option>
                  <option value="00100">3등급</option>
                  <option value="00010">4등급</option>
                  <option value="00001">5등급</option>
                </select>
              </th>
            </tr>
          </thead>
        </table>
      </div>
    </form>
  </div>
</div>